---
import Container from "./Container.astro"

---

<div id="features">
  <Container>
    
    <div
      class="mt-5 grid divide-x divide-y divide-gray-700 dark:divide-gray-700 overflow-hidden rounded-3xl border border-gray-700 text-gray-600 dark:border-gray-700 sm:grid-cols-2 lg:grid-cols-4 lg:divide-y-0 xl:grid-cols-4"
    >
      <div class="group relative bg-gray-800 dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
        <div class="relative space-y-8 py-12 p-8">
          <!-- <img
            src="https://cdn-icons-png.flaticon.com/512/4341/4341160.png"
            class="w-12"
            width="512"
            height="512"
            alt="burger illustration"
          /> -->

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-white dark:text-white transition group-hover:text-secondary"
            >
              Creative Content Creation
            </h5>
            <p class="text-gray-300 dark:text-gray-300">
              Our creative content creation service will produce compelling and original content tailored to your audience's interests. From articles to videos, we’ll ensure your messaging is engaging and aligns with your brand identity.
            </p>
          </div>
          <!-- <a href="#" class="flex items-center justify-between group-hover:text-secondary">
            <span class="text-sm">Read more</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
              <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
            </svg>                
          </a> -->
        </div>
      </div>

      <div class="group relative bg-gray-800 dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
        <div class="relative space-y-8 py-12 p-8">
          <!-- <img
            src="https://cdn-icons-png.flaticon.com/512/4341/4341160.png"
            class="w-12"
            width="512"
            height="512"
            alt="burger illustration"
          /> -->

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-white dark:text-white transition group-hover:text-secondary"
            >
              Website Development & Optimization
            </h5>
            <p class="text-gray-300 dark:text-gray-300">
              Our website development and optimization service will ensure your website is user-friendly, visually appealing, and optimized for search engines. By enhancing your website’s performance, we’ll help you attract and retain more visitors.
            </p>
          </div>
          <!-- <a href="#" class="flex items-center justify-between group-hover:text-secondary">
            <span class="text-sm">Read more</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
              <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
            </svg>                
          </a> -->
        </div>
      </div>

      <div class="group relative bg-gray-800 dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
        <div class="relative space-y-8 py-12 p-8">
          <!-- <img
            src="https://cdn-icons-png.flaticon.com/512/4341/4341139.png"
            class="w-12"
            width="512"
            height="512"
            alt="burger illustration"
          /> -->

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-white dark:text-white transition group-hover:text-secondary"
            >
              Influencer Marketing
            </h5>
            <p class="text-gray-300 dark:text-gray-300">
              We can leverage influencer marketing to connect your brand with a wider audience. By collaborating with key influencers in your industry, we can enhance your credibility and reach, allowing their authentic voices to promote your products or services effectively.
            </p>
          </div>
          <!-- <a href="#" class="flex items-center justify-between group-hover:text-secondary">
            <span class="text-sm">Read more</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
              <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
            </svg>                
          </a> -->
        </div>
      </div>

      <div
        class="group relative bg-gray-900 dark:bg-gray-900 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
      >
        <div
          class="relative space-y-8 py-12 p-8 transition duration-300 group-hover:bg-gray-800 dark:group-hover:bg-gray-800"
        >
          <!-- <img
            src="https://cdn-icons-png.flaticon.com/512/4341/4341025.png"
            class="w-12"
            width="512"
            height="512"
            alt="burger illustration"
          /> -->

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-white dark:text-white transition group-hover:text-secondary"
            >
              Whitelist & Airdrop Campaigns
            </h5>
            <p class="text-gray-300 dark:text-gray-300">
              We can implement whitelist and airdrop campaigns to boost awareness of your project. By offering exclusive access or free tokens to select users, we’ll generate excitement and encourage adoption within your target market.
            </p>
          </div>
          <!-- <a href="#" class="flex items-center justify-between group-hover:text-secondary">
            <span class="text-sm">Read more</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
              <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
            </svg>                
          </a> -->
        </div>
      </div>
    </div>
  </Container>
</div>