---
import Container from "./Container.astro"


---

<div class="relative" id="home">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-1 opacity-90 dark:opacity-90">
        <script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.25/build/spline-viewer.js"></script>
        
        <!-- <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div> -->
        <spline-viewer url="https://prod.spline.design/PuomAxuHPT35loE2/scene.splinecode"></spline-viewer>
        <!-- <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div> -->
    </div>
    <Container>
        <div class="relative pt-36 ml-auto">
            <div class="lg:w-2/3 text-center mx-auto">
                <h1 class="text-white dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl">Building the Future of Web3 <span class="text-primary dark:text-primary">Marketing.</span></h1>
                <p class="mt-8 text-gray-300 dark:text-gray-300">Modern Problems, Modern Solutions</p>
                <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
                    <!-- <a
                      href="#"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                    >
                      <span class="relative text-base font-semibold text-white"
                        >Get started</span
                      >
                    </a> -->
                    <a
                      href="#features"
                      class="relative flex h-11 w-fit items-center justify-center pl-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 md:w-max"
                    >
                      <span
                        class="relative text-base font-semibold text-white dark:text-white"
                        >Learn more
                        <span 
                          class="text-base bg-primary dark:bg-primary relative px-6 py-3 rounded-full h-11"
                        >Get Started</span>
                      </span>
                    </a>
                </div>
                <div class="hidden py-8 mt-16 border-y border-gray-800 dark:border-gray-800 sm:flex justify-between">
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-white dark:text-white">The lowest price</h6>
                        <!-- <p class="mt-2 text-gray-500">Some text here</p> -->
                    </div>
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-white dark:text-white">The fastest on the market</h6>
                        <!-- <p class="mt-2 text-gray-500">Some text here</p> -->
                    </div>
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-white dark:text-white">The most loved</h6>
                        <!-- <p class="mt-2 text-gray-500">Some text here</p> -->
                    </div>
                </div>
            </div>
            <div class="justify-center itemss center  mt-12 grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6 align-middle">
                <!-- <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                    <img src="./images/clients/coinmarketcap.svg" class="h-28 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
                  </div> -->
                <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                  <img src="./images/clients/p2b.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
                </div>
                <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
                  <img src="./images/clients/coingecko.svg" class="h-9 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
                </div>
                <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                    <img src="./images/clients/mexc.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
                  </div>
                  <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
                    <img src="./images/clients/bitmart.svg" class="h-20 w-auto m-auto" loading="lazy" alt="client logo" width="" height="" />
                  </div>
                <!-- <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                    <img src="./images/clients/google-cloud.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="" />
                </div> -->
              </div>
        </div>
    </Container>
</div>